.header { 
  background-color: #f8f9fa;
  padding: 20px;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Needed for absolute positioning inside */
}

.search-container {
  display: flex;
  position: absolute;
  left: 20px; /* Move search to left */
  align-items: center;
}

.search-icon {
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.search-input {
  padding: 8px;
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px; /* Space between icon and input */
}

.logo {
  height: 80px;
  display: block;
}

.nav-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.search-icon:hover {
  color: #007BFF;
}
