.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  gap: 40px; /* Gap between description and video */
}

.left-side, .right-side {
  width: 600px; 
  height: 450px; 
  padding: 25px;;
}

.section {
  margin-top: 50px;
  padding: 20px 0;
}
